*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#shell {
    display: flex;
    flex-direction: column;
    border: 2px solid magenta;
    justify-content: center;
}
#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid green;
}
.scoreboard {
    float: left;
    border: 1px solid red;
    color: red;
    background-color: black;
    min-width: 100px;
    display: flex;
    justify-content: center;
}
button {
    min-width: 75px;
}

#board {
    border: .25vh solid grey;
    display: grid;
    grid-template-columns: repeat(9, 10vmin);
    grid-template-rows: repeat(9, 10vmin);
    /* gap: 1vmin; */
}

#board div {
    /* border-radius: 50%; */
    border: 1px solid grey;
}

.square {
    font-size: 6vh;
    text-align: center;
    color: black;
    background-color: white;
}