*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#shell {
    display: flex;
    flex-direction: column;
    border: 2px solid magenta;
    padding: 1vh;
    background-color: darksalmon;
    box-shadow:         1px 3px 3px 5px black;
}
#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid green;
    padding: 1vh;
}
.scoreboard {
    float: left;
    border: 1px solid red;
    color: red;
    background-color: black;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}
button {
    min-width: 100px;
    font-size: 3vh;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(197, 191, 199);
}

#board {
    border: .25vh solid grey;
    display: grid;
    grid-template-columns: repeat(9, 10vmin);
    grid-template-rows: repeat(9, 10vmin);
    /* gap: 1vmin; */
}

#board div {
    /* border-radius: 50%; */
    border: 3px solid gray;
}

.square:hover {
    background-color:#D6EAE9;
}
.square {
    font-size: 3vh;
    text-align: center;
    border-radius: 2px;
    color: #3E4146;
    background-color: #CDD7E7;
    

}

.shadow {
    border: 1px soid darkgray;
    -moz-box-shadow:    1px 3px 3px 5px #3E4146;
    -webkit-box-shadow: 1px 3px 3px 5px #3E4146;
    box-shadow:         1px 3px 3px 5px #3E4146;
}

.revealed {
    border: 1px soid darkgray;
    background-color: #8E95A0;
}

.quarantined {
    justify-content: center;
    align-content: center;
}